@import url(http://fonts.googleapis.com/css?family=Cabin+Sketch:400,700|Miltonian);
#key {
    background-color: gold;
    width: 30px;
    height: 10px;
    position: absolute;
    display: inline-block;
    font-size: 6pt;
    bottom: 0;
    left: 110px;
}
#door {
    background-color: green;
    width: 25px;
    height: 50px;
    position: relative;
    top: 50px;
    left: 0;
    display: inline-block;
    color: white;
}
#door.drophover {
    border: 2px dashed white;
}
#door.unlocked {
    border: 2px solid white;
}
#door.open {
    background-color: lightgray;
}
#door.closed {
    background-color: black;
}
#inventory {
    background-color: gray;
    width: 100%;
    height: 50px;
    position: relative;
    overflow: visible;
}
#stage {
    width: 100%;
    background-color: red;
    position: relative;
    height: 100px;
}
#bed {
    background-color: brown;
    width: 100px;
    height: 25px;
    position: absolute;
    left: 400px;
    bottom: 0;
}
div {
    overflow: hidden;
}
#objectives {
    padding: 3px;
    font-size: 16pt;
    font-family: 'Miltonian', cursive;
}
#objectives ol {
    list-style:lower-roman inside;
}
#objectives li.met {
    text-decoration: line-through;
}